@import "../../src/fonts/Gilroy/stylesheet.css";
@import "../../src/fonts/Roboto/stylesheet.css";
@import "../../src/fonts/NK90/stylesheet.css";
@import "../../src/libs/fontello/css/fontello.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 12px;
  }
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.header {
  width: 100%;
  background: white;
}
.header__background {
  width: 100%;
  background: white;
  position: relative;
  z-index: 6;
}
.header__nav {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}
.header__icon {
  text-decoration: none;
  margin-right: 27px;
}
.header__icon:last-child {
  margin-right: 0;
}
.header__burger {
  width: 49px;
  height: 17.59px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__burger_active .header__burger-line {
  height: 0;
}
.header__burger_active .header__burger-line::before {
  transform: rotate(-45deg);
  top: 0;
  transition: 0.5s;
}
.header__burger_active .header__burger-line::after {
  transform: rotate(45deg);
  top: 0;
  transition: 0.5s;
}
.header__burger-line {
  position: relative;
  width: 100%;
  height: 2.5px;
  background: #94C31F;
}
.header__burger-line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background: #94C31F;
  top: -5.5px;
  left: 0;
  transition: 0.3s;
}
.header__burger-line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background: #94C31F;
  top: 5.5px;
  left: 0;
  transition: 0.3s;
}
.header__block-burger {
  width: 152px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .header__icon svg {
    width: 22px;
    height: 22px;
  }
  .header__logo picture img {
    width: 130px;
  }
  .header__burger {
    width: 40px;
  }
  .header__block-burger {
    width: 128px;
  }
}
@media (max-width: 520px) {
  .header__block-burger {
    width: 83px;
  }
}
@media (max-width: 426px) {
  .header__icon {
    margin-right: 12px;
  }
  .header__icon svg {
    width: 20px;
    height: 20px;
  }
  .header__block-burger {
    width: 55px;
  }
  .header__burger {
    width: 30px;
  }
  .header__logo picture img {
    width: 110px;
  }
}
@media (max-width: 376px) {
  .header__icon {
    margin-right: 7px;
  }
  .header__icon svg {
    width: 12px;
    height: 12px;
  }
  .header__block-burger {
    width: 55px;
  }
  .header__burger {
    width: 20px;
  }
}
.main {
  position: relative;
  top: -135px;
  transition: 0.5s;
  margin-bottom: -135px;
}
.main_active {
  margin-bottom: 0;
  top: 0;
  transition: 0.5s;
}
.main__hidden-nav {
  height: 120px;
  display: flex;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.18);
  width: 100%;
  position: relative;
  z-index: 3;
}
.main__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main__menu-item {
  width: 16.66%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  position: relative;
}
.main__menu-item:hover {
  background: #94C31F;
  color: white;
  box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.25);
}
.main__menu-item:hover::before {
  display: none;
}
.main__menu-item::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 75px;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  background: linear-gradient(180deg, #F2F2F2 0%, #C4C4C4 51.04%, #F2F2F2 100%);
}
.main__menu-item:last-child::before {
  display: none;
}
.main__menu-item:hover .main__menu-link {
  color: white;
}
.main__menu-link {
  text-decoration: none;
  font-family: NK90, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #94C31F;
}

@media (max-width: 768px) {
  .main {
    top: -255px;
    margin-bottom: -255px;
    transition: 0.5s;
  }
  .main_active {
    margin-bottom: 0;
    top: 0;
    transition: 0.5s;
  }
  .main__hidden-nav {
    height: auto;
    position: relative;
  }
  .main__hidden-nav::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(270deg, rgba(196, 196, 196, 0.666667) 0%, #C4C4C4 48.96%, rgba(196, 196, 196, 0) 100%);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .main__menu {
    flex-wrap: wrap;
  }
  .main__menu-item {
    width: 33.3%;
  }
  .main__menu-item:nth-child(3)::before {
    display: none;
  }
}
@media (max-width: 426px) {
  .main__menu-link {
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
  }
}
@media (max-width: 321px) {
  .main__menu-link {
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
  }
}
.home {
  padding: 103px 0 63px;
  width: 100%;
  background: #94C31F;
  position: relative;
}
.home::before {
  position: absolute;
  content: "";
  background: url("../../src/images/home/bg-fon.png") center/100% 100% no-repeat;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 48%;
  height: 100%;
}
.home::after {
  position: absolute;
  content: "";
  background: url("../../src/images/home/bg-img.png") center/100% 100% no-repeat;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 45.7%;
  height: 100%;
}
.home__title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #fff;
  margin-bottom: 5px;
}
.home__description {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 96px;
}
.home__subtitle {
  font-family: Gilroy, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 78px;
  letter-spacing: 0.05em;
}
.home__btn {
  font-family: Gilroy, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000;
  background: #F8F8F8;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  width: 291px;
  height: 94px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 2;
}

.advantages {
  padding: 40px 0 38px;
}
.advantages__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 46px;
}
.advantages__img {
  width: 412px;
  height: 377px;
  border-radius: 8px;
  margin-right: 49px;
}
.advantages__img img {
  width: 100%;
  height: 100%;
}
.advantages__item {
  display: flex;
  padding: 65px 49px 94px 71px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.advantages__content-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #94C31F;
  margin-bottom: 54px;
}
.advantages__content-subtitle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 124px;
}
.advantages__content-subtitle_fifth {
  margin-bottom: 94px;
}
.advantages__content-btn {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #fff;
  letter-spacing: -0.5px;
  width: 266px;
  height: 85px;
  border-radius: 8px;
  background: #94C31F;
  outline: none;
  border: none;
  cursor: pointer;
}
.advantages__arrow-left {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-75%, -25%);
  border-radius: 50%;
  background-color: white;
}
.advantages__arrow-left::before {
  position: absolute;
  content: url("../../src/images/advantages/left.png");
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.advantages__arrow-right {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(75%, -25%);
  border-radius: 50%;
  background-color: white;
}
.advantages__arrow-right::before {
  position: absolute;
  content: url("../../src/images/advantages/right.png");
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.advantages .owl-carousel {
  position: relative;
}
.advantages__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.advantages__menu-link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  padding: 15px 18px;
  text-align: left;
  letter-spacing: -0.5px;
  transition: 0.3s;
}
.advantages__menu-link:hover {
  background: #94C31F;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}
.advantages__menu-link.active {
  background: #94C31F;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
}

.problem {
  padding-bottom: 138px;
}
.problem__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 46px;
}
.problem__content {
  display: none;
  margin-top: 26px;
  justify-content: space-between;
}
.problem__content_active {
  display: flex;
}
.problem__content-menu {
  list-style-type: none;
  margin-left: 65px;
  margin-top: 15px;
}
.problem__content-list {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #000;
  margin-bottom: 35px;
  position: relative;
}
.problem__content-list::before {
  position: absolute;
  content: url("../../src/images/problem/okey.svg");
  width: 36px;
  height: 29px;
  left: -65px;
  top: 50%;
  transform: translateY(-50%);
}
.problem__content-block {
  width: 398px;
  height: 362px;
  border-radius: 8px;
  position: relative;
}
.problem__content-img {
  width: 100%;
  height: 100%;
}
.problem__content-link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #00000040;
  position: absolute;
  bottom: -54px;
  left: 55px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.problem__content-link:hover {
  color: black;
  transition: 0.3s;
}
.problem__content-link::before {
  position: absolute;
  content: url("../../src/images/problem/line.svg");
  width: 68.55px;
  height: 66.09px;
  top: 0;
  right: -32px;
}
.problem__content-circle {
  position: absolute;
  bottom: 0;
  left: 175px;
  transform: translateY(39%);
  width: 60px;
  height: 60px;
  background: #94C31F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.problem__content-circle:hover {
  transform: scale(1.2) translateY(20.5%);
  background: #1d673d;
  transition: 0.3s;
}
.problem__caption {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.problem__item {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 75px;
  color: #c6c6c6;
  height: 75px;
  padding: 0 25px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.problem__item_active, .problem__item:hover {
  background: #94C31F;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  color: white;
  transition: 0.3s;
}

.content {
  padding-bottom: 159px;
}
.content__row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
}
.content__center {
  background: #94C31F;
  padding: 25px 0;
  border-radius: 10px;
  position: relative;
}
.content__center::before {
  position: absolute;
  content: "";
  background: url(../../src/images/home/bg-fon.png) center/cover no-repeat;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content__center-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}
.content__col-12 {
  width: 100%;
}
.content__col-9 {
  width: calc(75% - 20px);
}
.content__custom_row {
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
  display: flex;
}
.content__col-4 {
  width: calc(33.3% - 26.6px);
}
.content__col-3 {
  width: calc(25% - 20px);
}
.content__inov {
  padding: 90px 0 90px 28px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
.content__inov::before {
  position: absolute;
  width: 254px;
  height: 264px;
  content: url("../../src/images/content/plus.png");
  bottom: -10px;
  right: 0;
}
.content__inov-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #000;
}
.content__cols3 {
  padding: 30px 15px 0 25px;
  background: #94C31F;
  position: relative;
  border-radius: 10px;
  height: 273px;
}
.content__cols3::before {
  position: absolute;
  content: "";
  background: url(../../src/images/content/bg.png) center/cover no-repeat;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content__cols3-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
}
.content__problem {
  padding: 64px 24px 0 24px;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.content__problem::before {
  position: absolute;
  content: url("../../src/images/content/problem.png");
  bottom: -5px;
  left: 0;
}
.content__problem-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000;
}
.content__special {
  padding: 64px 0 141px 28px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
.content__special::before {
  position: absolute;
  width: 551px;
  height: 432px;
  content: url("../../src/images/content/special.png");
  bottom: -103px;
  right: -46px;
}
.content__special-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000;
}

.center {
  background: #94C31F url("../images/center/bg.png") center/cover no-repeat;
  position: relative;
  margin-bottom: 149px;
}
.center__content {
  padding: 60px 0;
}
.center__content-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

.certificate {
  padding: 50px 0 136px;
}
.certificate__title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 71px;
}
.certificate__content {
  display: flex;
  justify-content: center;
  column-gap: 80px;
}
.certificate__col:nth-child(2) .certificate__img {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

@media (max-width: 768px) {
  .certificate {
    padding: 45px 0 100px;
  }
  .certificate__title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .certificate .certificate__content {
    column-gap: 50px;
  }
  .certificate__col {
    width: 50%;
  }
  .certificate__img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .certificate__title {
    font-size: 26px;
    line-height: 25px;
    margin-bottom: 50px;
  }
  .certificate .certificate__content {
    column-gap: 40px;
  }
}
@media (max-width: 426px) {
  .certificate {
    padding: 40px 0 55px;
  }
  .certificate__title {
    font-size: 23px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .certificate .certificate__content {
    column-gap: 30px;
  }
}
@media (max-width: 376px) {
  .certificate {
    padding: 20px 0 37px;
  }
  .certificate__title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 36px;
  }
  .certificate .certificate__content {
    column-gap: 30px;
  }
}
.staff {
  padding: 50px 0 123px;
}
.staff__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 96px;
}
.staff__person-block {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 81px;
}
.staff__person-block_odd {
  column-gap: 88px;
  margin-right: 58px;
}
.staff__person-block_even {
  column-gap: 126px;
  margin-left: 60px;
}
.staff__image-block {
  width: 366px;
  height: 366px;
  background: #94C31F;
  border-radius: 50%;
  position: relative;
}
.staff__image-block_odd::before {
  position: absolute;
  content: url("../images/staff/firstLine.png");
  bottom: -36px;
  right: -112px;
}
.staff__image-block_even::before {
  position: absolute;
  content: url("../images/staff/evenLine.png");
  left: -145px;
  top: 10px;
}
.staff__image {
  position: absolute;
}
.staff__image_odd {
  left: 29px;
  top: 9px;
}
.staff__image_even {
  top: 22px;
  right: 28px;
}
.staff__description {
  position: relative;
  width: 439px;
  height: 252px;
  padding: 25px 0 0 57px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.staff__description_odd {
  bottom: 36px;
}
.staff__description_even {
  bottom: 48px;
}
.staff__description-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 39px;
  color: #94C31F;
  margin-bottom: 7px;
}
.staff__description-job {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #464646;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.staff__description-subtitle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #7e8085;
}

.method {
  background: #94C31F url("../images/center/bg.png") center/cover no-repeat;
  position: relative;
}
.method__content {
  padding: 40px 0;
}
.method__content-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

.doctor-method {
  padding-bottom: 58px;
}
.doctor-method__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #94C31F;
  text-align: center;
  margin: 54px 0;
}
.doctor-method__content {
  display: flex;
  column-gap: 55px;
  margin-bottom: 41px;
}
.doctor-method__img {
  width: 392px;
  height: 289px;
  background: #94C31F;
  border-radius: 20px;
  position: relative;
}
.doctor-method__img img {
  position: absolute;
  top: 16px;
  left: 16px;
}
.doctor-method__domin {
  padding-top: 4px;
}
.doctor-method__domin-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #94C31F;
  margin-bottom: 11px;
}
.doctor-method__domin-subtitle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  letter-spacing: 0.5px;
}
.doctor-method__content2 {
  padding-bottom: 20px;
}
.doctor-method__content2-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  letter-spacing: 0.5px;
}

.photo {
  padding: 50px 0 95px;
}
.photo:last-child {
  padding-bottom: 180px;
}
.photo__gallery-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 62px;
}
.photo__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 53px;
}
.photo .swiper-container {
  width: 100%;
  height: 100%;
}
.photo .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.photo .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 60px;
  row-gap: 60px;
}
.photo .swiper-button-next, .photo .swiper-button-prev {
  position: static;
  margin-top: 0;
  color: #94C31F;
}
.photo__col {
  width: calc(33.3% - 40px);
}
.photo__img {
  height: 387px;
}
.photo__button {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  position: relative;
  column-gap: 170px;
  align-items: center;
}
.photo__button-link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #94C31F;
  text-decoration: none;
}

.video__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 53px;
}
.video__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 60px;
  row-gap: 60px;
}
.video__col {
  width: calc(33.3% - 40px);
}
.video__img {
  height: 387px;
}
.video__button {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  position: relative;
  column-gap: 170px;
  align-items: center;
}
.video__button-link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #94C31F;
  text-decoration: none;
}

.author {
  background: #94C31F url("../images/center/bg.png") center/cover no-repeat;
  position: relative;
}
.author__content {
  padding: 109px 0 40px;
}
.author__content-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

.aboutMe {
  padding: 50px 0 74px;
}
.aboutMe__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 54px;
}
.aboutMe__row1 {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 126px;
}
.aboutMe__row2 {
  display: flex;
  align-items: center;
  column-gap: 40px;
  width: 100%;
  margin: 50px 0 22px;
}
.aboutMe__descr {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 684px;
  align-items: center;
}
.aboutMe__descr-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  letter-spacing: 0.5px;
}
.aboutMe__descr2 {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
  align-items: center;
  list-style-type: none;
}
.aboutMe__descr2-text {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  letter-spacing: 0.5px;
}
.aboutMe__imgBlock {
  width: 305px;
  height: 303px;
  background: url("../images/author/backg.png") center/cover no-repeat;
  position: relative;
}
.aboutMe__imgBlock-ava {
  position: absolute;
  top: 19px;
  right: 19px;
}

.contact {
  padding: 0 0 188px;
}
.contact__title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #94C31F;
  text-align: center;
  margin-bottom: 62px;
}
.contact__subtitle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #B3B3B3;
  text-align: center;
  margin-bottom: 62px;
}
.contact__row {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: 0 auto 40px;
  column-gap: 70px;
}
.contact__col-3 {
  width: calc(25% - 52.5px);
}
.contact__address-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 18px;
}
.contact__address-link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
}
.contact__icon {
  display: flex;
  column-gap: 20px;
}
.contact__icon-link {
  color: #94C31F;
  text-decoration: none;
  font-size: 20px;
}
.contact__maps {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact__map {
  width: 1000px;
  height: 392px;
  border-radius: 8px;
}
.contact .dg-label__content {
  color: white;
}

@media (max-width: 992px) {
  .contact__row {
    column-gap: 60px;
  }
  .contact__col-3 {
    width: calc(25% - 45px);
  }
}
@media (max-width: 768px) {
  .contact {
    padding-bottom: 0;
  }
  .contact__title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .contact__subtitle {
    line-height: 20px;
    margin-bottom: 50px;
  }
  .contact__row {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .contact__row {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .contact__col-3 {
    width: calc(50% - 30px);
  }
}
@media (max-width: 576px) {
  .contact__title {
    font-size: 26px;
    line-height: 25px;
    margin-bottom: 35px;
  }
  .contact__subtitle {
    margin-bottom: 35px;
  }
}
@media (max-width: 426px) {
  .contact__title {
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .contact__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .contact__address-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
  }
  .contact__address-link {
    font-size: 14px;
    line-height: 17px;
  }
  .contact__icon-link {
    font-size: 19px;
  }
}
@media (max-width: 376px) {
  .contact__row {
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
  .contact__col-3 {
    width: calc(100%);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }
  .contact__subtitle {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 21px;
  }
  .contact__address-title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 13px;
  }
  .contact__address-link {
    font-size: 13px;
    line-height: 15px;
  }
  .contact__icon-link {
    color: #94C31F;
    text-decoration: none;
    font-size: 18px;
  }
  .contact__maps {
    height: 358px;
  }
}