.author{
  background: $green url("../images/center/bg.png") center/cover no-repeat;
  position: relative;

  &__content{
    padding: 109px 0 40px;
    &-text{
      @include text($Gilroy, normal, bold, 24px , 29px, #fff);
      text-align: center;
    }
  }
}

.aboutMe{
  padding: 50px 0 74px;
  &__title{
    @include text($Roboto, normal, bold, 40px , 48px, $green);
    text-align: center;
    margin-bottom: 54px;
  }
  &__row1{
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 126px;
  }
  &__row2{
    display: flex;
    align-items: center;
    column-gap: 40px;
    width: 100%;
    margin: 50px 0 22px;
  }
  &__descr{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 684px;
    align-items: center;
    &-text{
      @include text($Gilroy, normal, normal, 22px , 26px, #000);
      letter-spacing: 0.5px;
    }
  }
  &__descr2{
    display: flex;
    flex-direction: column;
    row-gap: 37px;
    align-items: center;
    list-style-type: none;
    &-text{
      @include text($Gilroy, normal, normal, 22px , 26px, #000);
      letter-spacing: 0.5px;
    }
  }
  &__imgBlock{
    width: 305px;
    height: 303px;
    background: url("../images/author/backg.png") center/cover no-repeat;
    position: relative;
    &-ava{
      position: absolute;
      top: 19px;
      right: 19px;
    }
  }

}