.center{
  background: $green url("../images/center/bg.png") center/cover no-repeat;
  position: relative;
  margin-bottom: 149px;
  &__content{
    padding: 60px 0;

    &-text{
      @include text($Gilroy, normal, bold, 24px , 29px, #fff);
      text-align: center;
    }
  }
}